body{
    background-image:  url(index.svg);
    background-position: center;
    /*background-size: cover;*/
    height: 110vh;

}
.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2vh;
}
.btn-start {
    font-size: 24px;
    transition: font-size 0.3s ease;
}
.btn-start:hover {
    font-size: 30px;
}