* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-image: url(background1.svg);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.quiz {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    background-color: white;
}

#result > div {
    padding: 15px 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;

    h2 {
        margin-bottom: 15px;
    }
}

#result .blue {
    background-color: #3ea4d0;
    color: black;
}

#result .yellow {
    color: black;
    background-color: #f5b822;
}

#result .green {
    color: white;
    background-color: #025702;
}

#result .red {
    color: white;
    background-color: #b40404;
}

.quiz_header {
    background: #eeecec;
    padding: 12px 30px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_body {
    padding: 20px 30px;
    background-color: skyblue;
}

.option_group {
    list-style-type: none;
    margin: 30px 0;
}

.option {
    display: block;
    width: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
}

.option:hover {
    cursor: pointer;
    border: 2px solid #341f97;
    color: #341f97;
    background-color: #341f97;
    color: white;
}

.option.active {
    background-color: #341f97;
    color: #fff;
}


.award_icon {
    display: block;
    font-size: 300px;
    color: #fff;
}

.border {
    height: 500px;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
}

.quiz_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding-bottom: 20px;
    background-color: #341f97;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5e3dbc;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 1;
}

.modal-wrapper.open {
    visibility: visible;

    .modal-block {
        bottom: 60px;
    }
}

.modal-block {
    position: absolute;
    bottom: -1000px;
    right: 60px;
    transition: all ease-in 300ms;
    border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    width: 500px;
    min-height: 500px;
    padding: 30px;

    h1 {
        font-size: 26px;
        line-height: 28px;
        margin: 0 0 20px;
    }

    p {
        font-size: 14px;
    }

    .modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.svg-icon.open {
    path:nth-child(2) {
        fill: black !important;
    }

    path:nth-child(3) {
        stroke: white !important;
    }

    circle {
        stroke: white !important;
        fill: white !important;
    }
}

/** animation **/

#animation {
    z-index: 10;
    background: rgba(250, 250, 250, 0.8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        width: 100px;
    }
}

#animation.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate {
    -webkit-animation: rotate-center 0.4s ease-in-out infinite both;
    animation: rotate-center 0.4s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/** media **/

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    .wrapper {
        padding: 0 20px;
    }

    body {
        background: none;
    }
}




